.profile-header {
  margin-bottom: 70px;
  color: var(--header-text);
}

.profile-picture {
  display: inline-block;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 25px;
}

.profile-name {
  font-family: 'Bungee Shade', cursive;
  font-size: 48px;
  letter-spacing: 0.2em;
  margin-bottom: 16px;
}

.profile-tagline {
  font-family: Calligraffitti;
  font-size: 32px;
  letter-spacing: 3px;
  margin-bottom: 24px;
}

.profile-links {
  font-family: Poppins;
  font-size: 16px;
}
