.profile-header {
  margin-bottom: 30px;
  height: 260px;
  padding: 40px 60px 20px 60px;
  color: #fff;
  border-radius: 20px;
  background-image: url('https://i.imgur.com/Gmo97po.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-picture {
  display: block;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  object-fit: cover;
  padding: 20px 20px;
  margin-bottom: 25px;
  float: left;
}

.profile-name {
  font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
  float: left;
  margin: auto;
  letter-spacing: 0.2em;
  margin-bottom: 16px;
  display: inline;
}

.profile-tagline {
  font-family: 'Fredericka the Great', cursive;
  font-size: 32px;
  letter-spacing: 3px;
  margin-bottom: 24px;
}

.profile-links {
  font-family: Poppins;
  font-size: 16px;
}
