/* You should never do this! Unless it's for science... */
@import '~antd/dist/antd.css';

* {
  animation: 0.3s all ease-in-out;
}

.app-container {
  background-image: var(--outer-bg-image);
  min-height: calc(100vh - 180px);
  width: 100vw;
  display: block;
  padding: 32px 0;
}

.app {
  text-align: center;
  width: 80vw;
  margin: 0 auto;
  font-size: 12px;
  background-color: var(--inner-bg-colour);
  padding: 60px 72px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-image: url('https://i.imgur.com/LLuaX4S.png');
  background-size: cover;
}

@media (max-width: 1440px) {
  .app {
    width: calc(90% - 144px);
  }
}
